# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/

# Outputs
jobs/input/
jobs/output/

# Models
models/*
!models/README.md
!models/layout/
models/layout/*
!models/layout/.gitkeep
!models/ocr/
models/ocr/*
!models/ocr/.gitkeep
*.safetensors
*.bin
*.onnx
*.pt

# OS
.DS_Store
Thumbs.db
